TCECE_API_BASE_URL=https://api-dados-abertos.tce.ce.gov.br/
TCECE_API_CACHE_SECONDS=300
TCECE_API_KEY=
TCECE_API_KEY_HEADER=
NEXT_PUBLIC_API_URL=http://localhost:8080
API_INTERNAL_URL=http://tcece-proxy-api:8080
